body{
	background-color:black;
	color:white;
	overflow: hidden;
	}
.container{
	overflow:hidden;
	}
/*BRANCH DINGAS ZONE !!!*/
.scene{
	position:absolute;
	top:50%;
	margin:0 0 0 -450px;
	left:50%;
	width: 900px;
	height: 900px;
	perspective: 500px;
}
.dingas{
	width:100%;
	height:10%;
	position:relative;
	transform-style: preserve-3d;
	animation: turn 60s linear infinite;

}
.dingas2{
	width:100%;
	height:10%;
	position:relative;
	transform-style: preserve-3d;
	animation: turn 20s linear infinite;
}

.face{
	position:absolute;
	padding: 0px;
	border-radius: 50px;
	
	width:100%;
	height:100%;
	background: linear-gradient(90deg, #00f2ff, rgba(0, 0, 255, 0));
    background-size: 100% 100%;
    -webkit-animation: gradientanim 7s ease infinite;
    -moz-animation: gradientanim 7s ease infinite;
    animation: gradientanim 7s ease infinite;
	opacity:0.5;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family: Arial, sans-serif;
	font-size:2rem;

}
.a{transform:translateZ(0px); filter:opacity(40%);animation:shift 20s  infinite;}/*0*/
.b {transform: rotateZ(150deg) rotateX(0deg) scaleZ(1);
filter:opacity(35%);animation:shift 25s  infinite;} /*6*/
.c {transform: rotateZ(60deg) rotateY(0deg) scaleX(1);
filter:opacity(70%);animation:shift 22s  infinite;} /*2*/
.d{transform: rotateZ(120deg) rotateY(0deg) scaleX(1);
filter:opacity(79%);animation:shift 24s  infinite;} /*5*/
.e{transform: rotateZ(90deg) rotateX(0deg) scaleX(1);
filter:opacity(47%);animation:shift 23s  infinite;} /*4*/
.f{transform: rotateZ(30deg) rotateX(0deg) scaleZ(1);
filter:opacity(50%);animation:shift 21s  infinite;} /*1*/




.logo{
	position:absolute;
	width: 720px;
	margin: auto;
	top: 40%;
    left: 50%;
	z-index:2;
	animation:shift 30s infinite;
}
.buttons{
	position:absolute;
	width:720px;
	margin:auto;
	top:40%;
	left:5%;
	z-index:2;
}
.button{
	height:32px;
	transition: all .2s;
}
.cross{
	position:absolute;
	filter:opacity(0.5);
	width:600px;
	margin: -300px 0 0 -300px;
	top: 50%;
    left: 50%;
	z-index:1;
	transform-style: flat;
	animation: rotation linear 40s infinite;
}
.stripe1{
	background:url("strip.png") repeat-x;
	height:32px;
	width:5076px;
	animation:slide 2s linear infinite;
	perspective: 100px;
	top:0;
	}
.stripe2{
	background:url("strip.png") repeat-x ;
	height:32px;
	width:5076px;
	animation:slide2 2s linear infinite;
	bottom: 0;
	position: absolute;
	}
.button:hover {
        filter:drop-shadow(0 0 3px #fff);
		transition: all .2s;
}
@keyframes slide{
	0%{
		transform: translate3d(0,0,0);
		filter:opacity(50%);
	}
	50%{
		filter:opacity(100%);
	}
	100%{
	transform: translate3d(-40px,0,0);
	filter:opacity(50%);
	}
}
@keyframes slide2{
	0%{
		transform: translate3d(-40px,0,0);
		filter:opacity(50%);
	}
	50%{
		filter:opacity(100%);
	}
	100%{
	transform: translate3d(0px,0,0);
	filter:opacity(50%);
	}
}
@keyframes rotation {
0% {
	-webkit-transform:perspective(600) rotate3d(1, .5, 1, 0deg);
	}
100%{
	-webkit-transform:perspective(600) rotate3d(1, .5, 1, 359deg);
	}
}
@keyframes shift{
	0%{
		filter:hue-rotate(0deg);
	}
	50%{
		filter:hue-rotate(180deg)
	}
	100%{
		filter:hue-rotate(0deg);
	}
}
@keyframes turn {
  0% { transform: rotate3d(0, 0, 0, 0); scale(1, 1)}
  50% {transform: rotate3d(1,0.5,0,180deg) scale(2,2);}
  100% { transform: rotate3d(1, 0.5, 0, 360deg) scale(1, 1);}
}

@-webkit-keyframes gradientanim {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@-moz-keyframes gradientanim {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes gradientanim {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}